<%= form_with(model: @user, local: true, class: "flex flex-col" ) do |f| %>
  <div class="mb-3">
    <%= render 'shared/error_messages', object: f.object %>
  </div>


  <div class="mb-5">
    <%= f.label :name, "ユーザー名", class: "label" %>
    <%= f.text_field :name, class: "field" %>
  </div>

  <div class="mb-5">
    <%= f.label :email, "メールアドレス", class: "label" %>
    <%= f.email_field :email, class: "field" %>
  </div>

  <div class="mb-5">
    <%= f.label :password, "パスワード", class: "label" %>
    <%= f.password_field :password, class: "field" %>
  </div>

  <div class="mb-12">
    <%= f.label :password_confirmation, "パスワード（確認）", class: "label" %>
    <%= f.password_field :password_confirmation, class: "field" %>
  </div>

  <%= f.submit yield(:button_text), class: "h-10 btn" %>
<% end %>