<% provide(:title, 'アカウント編集') %>
<% provide(:button_text, '更新') %>

<h1 class="page-title ">アカウント編集</h1>
<div class="w-4/5 mx-auto my-10">

  <!-- ユーザーアバター表示と変更リンク -->
  <div class="mb-5">
    <%= form_with model: @user, url: update_avatar_user_path(@user), id: :avatar_form, class: "text-center" do |f| %>
      <%= f.label :avatar, content_tag(:div, avatar_for(@user, size: 100), id: "update_avatar_wrapper"), class: "inline-block ursor-pointer" %>
      <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png", class: "hidden" %>
    <% end %>
  </div>

  <div class="max-w-sm mx-auto">
    <%= render 'edit_form' %>
  </div>

  <div class="max-w-sm mx-auto text-center">
    <% unless @user.admin? %>
      <%= link_to "アカウント削除", @user, method: :delete, data: { confirm: 'このアカウントを削除します。この操作は取り消せません。よろしいですか？' }, class: "btn-red inline-block py-2 px-4 mt-20" %>
    <% end %>
  </div>
</div>

<!-- 画像サイズチェック -->
<%= javascript_pack_tag 'avatar_size_check/application' %>
