<% provide(:title, 'アカウント編集') %>
<% provide(:button_text, '更新') %>

<div class="w-4/5 mx-auto my-10">
  <div class="max-w-sm mx-auto">
    <div class="mb-5 text-center">
      <h1 class="text-2xl text-center mr-3 inline-block align-middle">アカウント編集</h1>

      <%= form_with model: @user, url: update_avatar_user_path(@user), id: :avatar_form do |f| %>
        <%= f.label :avatar, content_tag(:div, avatar_for(@user, size: 80), id: "update_avatar_wrapper"), class: "cursor-pointer" %>
        <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png", class: "hidden" %>
      <% end %>

    </div>
    <%= render 'edit_form' %>
    <% unless @user.admin? %>
    <%= link_to "アカウント削除", @user, method: :delete, data: { confirm: 'このアカウントを削除します。この操作は取り消せません。よろしいですか？' } %>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  let user_avatar = document.getElementById("user_avatar")
  let avatar_form = document.getElementById("avatar_form")
  user_avatar.addEventListener("change", () => {
    let size_in_megabytes = user_avatar.files[0].size/1024/1024;
    if (size_in_megabytes > 2) {
      alert("2MB以下のファイルを選択してください。");
      user_avatar.value = "";
    } else {
      avatar_form.submit()
    }
  });
</script>