<% provide(:title, @person.name) %>

<div>
  <div class="text-center mt-5 mb-8">
    <div class="inline-block text-center">
      <%= gravatar_for(@person,size: "100") %>
    </div>
    <p class="mt-2 text-xl">
      <%= @person.name %>
    </p>
  </div>

  <div class="">
    <div class="flex flex-col text-center">
      <div class="mb-2">
        <%= link_to @person.microposts.count, micropost_path(person: params[:id]), {class: "text-2xl rounded-md text-indigo-500 hover:text-indigo-800 hover:bg-indigo-200"} %>
      </div>
      <p class="text-sm text-gray-600  bg-tw-gray">投稿数</p>
    </div>
  </div>

  <div class="w-4/5 flex flex-col text-right mx-auto my-5">
    <p class="text-sm text-gray-600 ">
      アカウント作成日：<%= l @person.created_at, format: :y_m_d %>
    </p>
    <div class="w-full border mx-auto">
    </div>
  </div>

</div>


<% if logged_in? && @user == @person %>
<div>
  <ul class="text-gray-600">
    <li><%= link_to "プロフィール", profile_user_path(current_user) %></li>
    <li><%= link_to "ユーザー一覧", users_path %></li>
    <li>
      <a href="#">
        お気に入りの記事
      </a>
    </li>
    <li><%= link_to "登録変更", edit_user_path(current_user) %></li>
    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
  </ul>
</div>
<% end %>
