<% provide(:title, @user.name) %>

<div class="w-11/12 mx-auto border-b-2">

  <div class="mt-16 mb-16 text-center">
    <!-- ログインユーザーなら編集ページへのリンク表示 -->
    <div class="inline-block text-center">
      <% if current_user?(@user) %>
        <%= link_to avatar_for(@user, size: 100), edit_user_path(@user) %>
      <% else %>
        <%= link_to avatar_for(@user, size: 100), @user %>
      <% end %>
    </div>
    <p class="mt-2 text-xl"><%= @user.name %></p>
  </div>

  <div class="flex justify-around max-w-md mx-auto mb-20">
    <div class="w-32 text-center">
      <%= link_to @user.microposts.count, related_info_user_path(@user, info: "posted"), {remote: true, class: "number"} %>
      <p class="bg-tw-gray text-gray-600 text-sm">投稿数</p>
    </div>
    <div class="w-32 text-center">
      <%= link_to @user.goings.count, related_info_user_path(@user, info: "checked"), {remote: true, class: "number"} %>
      <p class="bg-tw-gray text-gray-600 text-sm">チェック記事</p>
    </div>
    <div class="w-32 text-center">
      <%= link_to @user.following.count, related_info_user_path(@user, info: "favorite"), {remote: true, class: "number"} %>
      <p class="bg-tw-gray text-gray-600 text-sm truncate">お気に入りユーザー</p>
    </div>
  </div>


  <div class="flex flex-col mr-6 text-right">
    <p class="text-gray-600 text-sm">
      アカウント作成日：<%= l @user.created_at, format: :y_m_d %>
    </p>
  </div>

</div>

<!-- ログインユーザーなら編集とログアウトリンク、他ユーザーならお気に入り登録ボタン -->
<div class="w-11/12 mx-auto">
  <% if current_user?(@user) %>
    <div>
      <ul class="flex justify-around py-10">
        <li><%= link_to "アカウント編集", edit_user_path(current_user), {class: "btn-green py-2 px-4"} %></li>
        <li><%= link_to "ログアウト", logout_path, method: :delete, class: "btn-red py-2 px-4" %></li>
      </ul>
    </div>
  <% else %>
    <%= render 'follow_form' %>
  <% end %>
</div>

<!-- Ajax用 -->
<div id="related-info">
</div>
