<div class="mb-10" id="microposts-wrapper" data-sort=<%= @sort %> data-pagination=<%= @pagination %> data-search=<%= @search_by_tag %>>
  <% if microposts.present? %>
    <ol id="">
      <%= render partial: 'shared/micropost', collection: microposts %>
    </ol>
    <div class="text-lg text-center">
      <%= paginate microposts, params: {:pagination => true}, remote: true %>
    </div>
    <%#= paginate microposts, :params => {:controller => :microposts, :action => :index}, remote: true %>
    <%#= paginate microposts, remote: true %>
  <% else %>
    <div class="w-4/5 mt-10 mx-auto mb-10">
      <p>該当する結果がありませんでした。</p>
    </div>
  <% end %>
</div>
