<li id="micropost-<%= micropost.id %>" class="w-4/5 mx-auto mb-8 md:mb-12 max-w-2xl">

  <input id="trigger-<%= micropost.id %>" class="grad-trigger" type="checkbox">
  <label class="grad-background" for="trigger-<%= micropost.id %>"></label>
  <label class="grad-btn" for="trigger-<%= micropost.id %>">

    <div class="display-div">
      <div id="mini-info" class="md:flex md:flex-col md:justify-around md:mr-5">
        <div>
          <%= link_to micropost.prefecture.name, search_path(search: '', prefecture_id: micropost.prefecture.id, period_id: ''), class: "tag mr-2" %>
          <%= link_to micropost.period.name, search_path(search: '', prefecture_id: '', period_id: micropost.period.id), class: "tag mr-2" %>
        </div>
        <div class="mb-2 text-xl leading-5"><%= micropost.title %></div>
        <div class="flex items-center justify-center sm:justify-start mb-2">
          <%= link_to avatar_for(micropost.user, size: 50), micropost.user, class: "mr-3" %>
          <div class="text-center sm:text-left">
            <div class=""><%= link_to micropost.user.name, micropost.user %></div>
            <div class="flex flex-col sm:block">
              <span class="sm:mr-5 text-sm">
                <%= time_ago_in_words(micropost.created_at) %>前
              </span>
              <span id="micropost-<%= micropost.id %>-going" class="">
                <%= render 'microposts/going', micropost: micropost %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="image-div">
        <%= image_for(micropost) %>
      </div>
    </div>

    <div class="grad-item">
      <div class="w-11/12 my-10 mx-auto p-6 bg-gray-200 leading-4">
        <span class=""><%= safe_join(micropost.content.split("\n"),tag(:br)) %></span>
      </div>
      <%= render 'shared/minimap', micropost: micropost %>
      <% if current_user == micropost.user %>
        <div class="my-8 text-center">
          <%= link_to "この投稿を削除", micropost, method: :delete, data: { confirm: '削除を実行します' }, class: "btn-red py-3 px-5" %>
        </div>
      <% end %>
    </div>

  </label>

</li>
