<!-- 非ログインユーザービュー -->
<% if !logged_in? %>

  <%= form_with(model: Going) do |f| %>
    <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
    <%= f.submit "行ってみたい!", class: "" %>
  <% end %>
  <%= micropost.goings.count %>

<!-- ログインユーザービュー -->
<% elsif current_user.already_gone?(micropost) %>

  <%= form_with(model: current_user.goings.find_by(micropost_id: micropost.id), html: { method: :delete }) do |f| %>
    <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
    <%= f.submit "チェックを外す", class: "" %>
  <% end %>
  <%= micropost.goings.count %>

<% else %>

  <%= form_with(model: current_user.goings.build) do |f| %>
    <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
    <%= f.submit "行ってみたい!", class: "" %>
  <% end %>
  <%= micropost.goings.count %>

<% end %>
