<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class=""><%= link_to micropost.user.name, micropost.user %></span>
  <span class="">
    <%= micropost.content %>
    <%= image_tag micropost.display_image if micropost.image.attached? %>
  </span>
  <span class="">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if @user == @person %>
    <%= link_to "削除", micropost, method: :delete, data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>
