<% unless params[:search].blank? && params[:prefecture_id].blank? && params[:period_id].blank? %>

  <div class="flex flex-col items-center">
  <span style="margin-top: 4px;" class="inline-block">
    <% if params[:search].present? %>
      <span class="text-lg">"<%= params[:search] %>"</span>
    <% end %>

    <% if params[:prefecture_id].present? %>
      <span class="text-lg">"<%= Prefecture.find(params[:prefecture_id]).name %>"</span>
    <% end %>

    <% if params[:period_id].present? %>
      <span class="text-lg">"<%= Period.find(params[:period_id]).name %>"</span>
    <% end %>

    の検索結果
  </span>

  <%= link_to "検索結果を地図で見る", map_path(microposts_ids: @microposts_ids), class: "btn-blue w-48 mt-2" %>

  <%= link_to "Clear", microposts_path, class: "mt-4 hover:underline" %>
  </div>

<% end %>




