<% provide(:title, "記事一覧") %>

<h2>検索</h2>
<%= form_with url: search_microposts_path, method: :get do |f| %>
  <%= link_to 'Clear', microposts_path %>
  <%= f.search_field :search, class: "border", placeholder: "キーワード検索" %>
  <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, include_blank: '都道府県' %>
  <%= f.collection_select :period_id, Period.all, :id, :name, include_blank: '時代' %>
  <p>
  <%= f.radio_button :sort, :new, checked: true %>
  <%= f.label :sort_new, "最新" %>
  <%= f.radio_button :sort, :going %>
  <%= f.label :sort_going, "行ってみたい!" %>
  <%= f.radio_button :sort, :period_asc %>
  <%= f.label :sort_period_asc, "時代昇順" %>
  <%= f.radio_button :sort, :period_desc %>
  <%= f.label :sort_period_desc, "時代降順" %>
  </p>
  <%= f.submit('検索') %>
<% end %>

<div id="microposts">
  <%= render 'microposts/microposts', microposts: @microposts %>
</div>
