<header class="py-2 px-5 h-14 shadow-md mb-2">

  <div class="lg:max-w-5xl mx-auto flex justify-between">

    <div class="flex">
      <%= link_to image_tag("applogo.png", alt: "applogo", width: "40px", class: "rounded-lg"), root_path %>
      <%= link_to image_tag("appname.svg", alt: "appname", width: "80px", height: "40px", class: "hidden sm:block"), root_path, {class: "ml-2 flex"} %>
    </div>


    <% if logged_in? %>

    <nav>
      <ul class="list-none h-full w-36 flex justify-between">
        <li class="w-32">
          <a href="#" class="w-4/5 h-full flex items-center justify-center btn hover:text-gray-700 hover:bg-green-500">
            <div class="flex">
              <%= image_tag("post.svg", alt: "post_icon", width: "20px", class: "") %>
              投稿する
            </div>
          </a>
        </li>

        <li class="">
          <%= link_to gravatar_for(@user,size: "36"), profile_user_path(current_user), {class: "h-full flex content-center rounded-full hover:bg-gray-500 hover:bg-opacity-50"} %>
        </li>
      </ul>
    </nav>

    <% else %>

    <nav>
      <ul class="list-none w-56 text-xs flex justify-between">
        <li class="w-20 text-center text-green-600 hover:text-green-900">
          <%= link_to "簡単ログイン", easylogin_path, {class: "leading-10 block"} %>
        </li>

        <li class="w-16 text-center text-green-600 hover:text-green-900">
          <%= link_to "ログイン", login_path, {class: "leading-10 block"} %>
        </li>
        
        <li class="w-16 text-center btn hover:text-gray-700 hover:bg-green-500 rounded-md">
          <%= link_to "新規登録", signup_path, {class: "leading-10 block"} %>
        </li>
      </ul>
    </nav>

    <% end %>

  </div>
</header>
