<!DOCTYPE html>
<html lang="ja" class="box-border">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'applogo.png'%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="text-gray-800">

    <%= render 'layouts/header' %>

    <div class="lg:max-w-5xl mx-auto mb-16 flex">

      <nav class="hidden sm:block sticky top-0 bg-gray-500 w-48">
        <div class="sticky top-0 bg-blue-400">
          <p>hi</p>
          <p>hello</p>
          <p>こんにちは</p>
        </div>
      </nav>

      <div class="bg-gray-300 w-64 flex-grow">
        <main class="">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </main>
      </div>

    </div>

    <%= render 'layouts/footer' %>

  </body>
</html>
