<!DOCTYPE html>
<html lang="ja" class="box-border">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'applogo.png'%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
    <style>
    #post_map {
      height: 100%;
      width: 100%;
    }
    #map {
      height: 400px;
      width: 600px;
    }
    </style>
  </head>

  <body class="text-gray-800">

    <%= render 'layouts/header' %>

    <div class="flex">

      <%= render 'layouts/sidebar' %>

      <div class="w-64 flex-grow relative">
        <main class="">
          <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
          <%= yield %>
        </main>
      </div>

    </div>

    <%= debug(params) if Rails.env.development? %>

    <%= render 'layouts/footer' %>
  </body>
</html>
